<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.book.mapper.BookMapper">
    
    <resultMap type="Book" id="BookResult">
        <result property="bookId"    column="book_id"    />
        <result property="bookName"    column="book_name"    />
        <result property="bookPrice"    column="book_price"    />
        <result property="author"    column="author"    />
        <result property="publishing"    column="publishing"    />
        <result property="storeId"    column="store_id"    />
        <result property="sales"    column="sales"    />
        <result property="publicationDate"    column="publication_date"    />
        <result property="count"    column="count"    />
        <result property="score"    column="score"    />
        <result property="classification"    column="classification"    />
    </resultMap>
	
	<sql id="selectBookVo">
        select book_id, book_name, book_price, author, publishing, store_id, sales, publication_date, count, score, classification from book
    </sql>
	
    <select id="selectBookList" parameterType="Book" resultMap="BookResult">
        <include refid="selectBookVo"/>
        <where>  
            <if test="bookId != null "> and book_id = #{bookId}</if>
             <if test="bookName != null  and bookName != '' "> and book_name = #{bookName}</if>
             <if test="bookPrice != null "> and book_price = #{bookPrice}</if>
             <if test="author != null  and author != '' "> and author = #{author}</if>
             <if test="publishing != null  and publishing != '' "> and publishing = #{publishing}</if>
             <if test="storeId != null "> and store_id = #{storeId}</if>
             <if test="sales != null "> and sales = #{sales}</if>
             <if test="publicationDate != null "> and publication_date = #{publicationDate}</if>
             <if test="count != null "> and count = #{count}</if>
             <if test="score != null "> and score = #{score}</if>
             <if test="classification != null  and classification != '' "> and classification = #{classification}</if>
         </where>
    </select>
    
    <select id="selectBookById" parameterType="Long" resultMap="BookResult">
        <include refid="selectBookVo"/>
        where book_id = #{bookId}
    </select>
        
    <insert id="insertBook" parameterType="Book" useGeneratedKeys="true" keyProperty="bookId">
        insert into book
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bookName != null  and bookName != ''  ">book_name,</if>
			<if test="bookPrice != null  ">book_price,</if>
			<if test="author != null  and author != ''  ">author,</if>
			<if test="publishing != null  and publishing != ''  ">publishing,</if>
			<if test="storeId != null  ">store_id,</if>
			<if test="sales != null  ">sales,</if>
			<if test="publicationDate != null  ">publication_date,</if>
			<if test="count != null  ">count,</if>
			<if test="score != null  ">score,</if>
			<if test="classification != null  and classification != ''  ">classification,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bookName != null  and bookName != ''  ">#{bookName},</if>
			<if test="bookPrice != null  ">#{bookPrice},</if>
			<if test="author != null  and author != ''  ">#{author},</if>
			<if test="publishing != null  and publishing != ''  ">#{publishing},</if>
			<if test="storeId != null  ">#{storeId},</if>
			<if test="sales != null  ">#{sales},</if>
			<if test="publicationDate != null  ">#{publicationDate},</if>
			<if test="count != null  ">#{count},</if>
			<if test="score != null  ">#{score},</if>
			<if test="classification != null  and classification != ''  ">#{classification},</if>
         </trim>
    </insert>
	 
    <update id="updateBook" parameterType="Book">
        update book
        <trim prefix="SET" suffixOverrides=",">
            <if test="bookName != null  and bookName != ''  ">book_name = #{bookName},</if>
            <if test="bookPrice != null  ">book_price = #{bookPrice},</if>
            <if test="author != null  and author != ''  ">author = #{author},</if>
            <if test="publishing != null  and publishing != ''  ">publishing = #{publishing},</if>
            <if test="storeId != null  ">store_id = #{storeId},</if>
            <if test="sales != null  ">sales = #{sales},</if>
            <if test="publicationDate != null  ">publication_date = #{publicationDate},</if>
            <if test="count != null  ">count = #{count},</if>
            <if test="score != null  ">score = #{score},</if>
            <if test="classification != null  and classification != ''  ">classification = #{classification},</if>
        </trim>
        where book_id = #{bookId}
    </update>

	<delete id="deleteBookById" parameterType="Long">
        delete from book where book_id = #{bookId}
    </delete>
	
    <delete id="deleteBookByIds" parameterType="String">
        delete from book where book_id in 
        <foreach item="bookId" collection="array" open="(" separator="," close=")">
            #{bookId}
        </foreach>
    </delete>
    
</mapper>