<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.orderbuy.mapper.OrderbuyMapper">
    
    <resultMap type="Orderbuy" id="OrderbuyResult">
        <result property="orderId"    column="order_id"    />
        <result property="orderDate"    column="order_date"    />
        <result property="orderPrice"    column="order_price"    />
        <result property="bookId"    column="book_id"    />
        <result property="orderCount"    column="order_count"    />
        <result property="userId"    column="user_id"    />
        <result property="userAddress"    column="user_address"    />
        <result property="state"    column="state"    />
        <result property="storeId"    column="store_id"    />
        <result property="level"    column="level"    />
    </resultMap>
	
	<sql id="selectOrderbuyVo">
        select order_id, order_date, order_price, book_id, order_count, user_id, user_address, state, store_id, level from orderbuy
    </sql>
	
    <select id="selectOrderbuyList" parameterType="Orderbuy" resultMap="OrderbuyResult">
        <include refid="selectOrderbuyVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
             <if test="orderDate != null "> and order_date = #{orderDate}</if>
             <if test="orderPrice != null "> and order_price = #{orderPrice}</if>
             <if test="bookId != null "> and book_id = #{bookId}</if>
             <if test="orderCount != null "> and order_count = #{orderCount}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
             <if test="userAddress != null  and userAddress != '' "> and user_address = #{userAddress}</if>
             <if test="state != null  and state != '' "> and state = #{state}</if>
             <if test="storeId != null "> and store_id = #{storeId}</if>
             <if test="level != null "> and level = #{level}</if>
         </where>
    </select>
    
    <select id="selectOrderbuyById" parameterType="Long" resultMap="OrderbuyResult">
        <include refid="selectOrderbuyVo"/>
        where order_id = #{orderId}
    </select>
        
    <insert id="insertOrderbuy" parameterType="Orderbuy" useGeneratedKeys="true" keyProperty="orderId">
        insert into orderbuy
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderDate != null  ">order_date,</if>
			<if test="orderPrice != null  ">order_price,</if>
			<if test="bookId != null  ">book_id,</if>
			<if test="orderCount != null  ">order_count,</if>
			<if test="userId != null  ">user_id,</if>
			<if test="userAddress != null  and userAddress != ''  ">user_address,</if>
			<if test="state != null  and state != ''  ">state,</if>
			<if test="storeId != null  ">store_id,</if>
			<if test="level != null  ">level,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderDate != null  ">#{orderDate},</if>
			<if test="orderPrice != null  ">#{orderPrice},</if>
			<if test="bookId != null  ">#{bookId},</if>
			<if test="orderCount != null  ">#{orderCount},</if>
			<if test="userId != null  ">#{userId},</if>
			<if test="userAddress != null  and userAddress != ''  ">#{userAddress},</if>
			<if test="state != null  and state != ''  ">#{state},</if>
			<if test="storeId != null  ">#{storeId},</if>
			<if test="level != null  ">#{level},</if>
         </trim>
    </insert>
	 
    <update id="updateOrderbuy" parameterType="Orderbuy">
        update orderbuy
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderDate != null  ">order_date = #{orderDate},</if>
            <if test="orderPrice != null  ">order_price = #{orderPrice},</if>
            <if test="bookId != null  ">book_id = #{bookId},</if>
            <if test="orderCount != null  ">order_count = #{orderCount},</if>
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="userAddress != null  and userAddress != ''  ">user_address = #{userAddress},</if>
            <if test="state != null  and state != ''  ">state = #{state},</if>
            <if test="storeId != null  ">store_id = #{storeId},</if>
            <if test="level != null  ">level = #{level},</if>
        </trim>
        where order_id = #{orderId}
    </update>

	<delete id="deleteOrderbuyById" parameterType="Long">
        delete from orderbuy where order_id = #{orderId}
    </delete>
	
    <delete id="deleteOrderbuyByIds" parameterType="String">
        delete from orderbuy where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
    
</mapper>