<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.order.mapper.OrderMapper">
    
    <resultMap type="Order" id="OrderResult">
        <result property="orderId"    column="order_id"    />
        <result property="orderDate"    column="order_date"    />
        <result property="orderPrice"    column="order_price"    />
        <result property="orderContent"    column="order_content"    />
        <result property="orderCount"    column="order_count"    />
        <result property="userId"    column="user_id"    />
        <result property="userAddress"    column="user_address"    />
        <result property="state"    column="state"    />
        <result property="storeId"    column="store_id"    />
    </resultMap>
	
	<sql id="selectOrderVo">
        select order_id, order_date, order_price, order_content, order_count, user_id, user_address, state, store_id from `order`
    </sql>
	
    <select id="selectOrderList" parameterType="Order" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
             <if test="orderDate != null "> and order_date = #{orderDate}</if>
             <if test="orderPrice != null "> and order_price = #{orderPrice}</if>
             <if test="orderContent != null  and orderContent != '' "> and order_content = #{orderContent}</if>
             <if test="orderCount != null "> and order_count = #{orderCount}</if>
             <if test="userId != null "> and user_id = #{userId}</if>
             <if test="userAddress != null  and userAddress != '' "> and user_address = #{userAddress}</if>
             <if test="state != null  and state != '' "> and state = #{state}</if>
             <if test="storeId != null "> and store_id = #{storeId}</if>
         </where>
    </select>
    
    <select id="selectOrderById" parameterType="Long" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where order_id = #{orderId}
    </select>
        
    <insert id="insertOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="orderId">
        insert into order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderDate != null  ">order_date,</if>
			<if test="orderPrice != null  ">order_price,</if>
			<if test="orderContent != null  and orderContent != ''  ">order_content,</if>
			<if test="orderCount != null  ">order_count,</if>
			<if test="userId != null  ">user_id,</if>
			<if test="userAddress != null  and userAddress != ''  ">user_address,</if>
			<if test="state != null  and state != ''  ">state,</if>
			<if test="storeId != null  ">store_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderDate != null  ">#{orderDate},</if>
			<if test="orderPrice != null  ">#{orderPrice},</if>
			<if test="orderContent != null  and orderContent != ''  ">#{orderContent},</if>
			<if test="orderCount != null  ">#{orderCount},</if>
			<if test="userId != null  ">#{userId},</if>
			<if test="userAddress != null  and userAddress != ''  ">#{userAddress},</if>
			<if test="state != null  and state != ''  ">#{state},</if>
			<if test="storeId != null  ">#{storeId},</if>
         </trim>
    </insert>
	 
    <update id="updateOrder" parameterType="Order">
        update order
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderDate != null  ">order_date = #{orderDate},</if>
            <if test="orderPrice != null  ">order_price = #{orderPrice},</if>
            <if test="orderContent != null  and orderContent != ''  ">order_content = #{orderContent},</if>
            <if test="orderCount != null  ">order_count = #{orderCount},</if>
            <if test="userId != null  ">user_id = #{userId},</if>
            <if test="userAddress != null  and userAddress != ''  ">user_address = #{userAddress},</if>
            <if test="state != null  and state != ''  ">state = #{state},</if>
            <if test="storeId != null  ">store_id = #{storeId},</if>
        </trim>
        where order_id = #{orderId}
    </update>

	<delete id="deleteOrderById" parameterType="Long">
        delete from order where order_id = #{orderId}
    </delete>
	
    <delete id="deleteOrderByIds" parameterType="String">
        delete from order where order_id in 
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
    
</mapper>