<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('用户列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								用户名：<input type="text" name="username"/>
							</li>

							<li>
								密码：<input type="text" name="password"/>
							</li>

							<li>
								手机：<input type="text" name="phone"/>
							</li>

							<li>
								性别M/F：<input type="text" name="sex"/>
							</li>

							<li>
								邮箱：<input type="text" name="email"/>
							</li>

							<li>
								身份证号：<input type="text" name="identityCard"/>
							</li>

							<li>
								头像：<input type="text" name="avatar"/>
							</li>

							<li>
								0：正常。1：审核中。2：冻结：<input type="text" name="state"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:myuser:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:myuser:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:myuser:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:myuser:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:myuser:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:myuser:remove')}]];
        var prefix = ctx + "system/myuser";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "用户",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'userId', 
					title : '用户Id',
					visible: false
				},
				{
					field : 'username', 
					title : '用户名',
					sortable: true
				},
				{
					field : 'password', 
					title : '密码',
					sortable: true
				},
				{
					field : 'phone', 
					title : '手机',
					sortable: true
				},
				{
					field : 'sex', 
					title : '性别M/F',
					sortable: true
				},
				{
					field : 'email', 
					title : '邮箱',
					sortable: true
				},
				{
					field : 'identityCard', 
					title : '身份证号',
					sortable: true
				},
				{
					field : 'avatar', 
					title : '头像',
					sortable: true
				},
				{
					field : 'state', 
					title : '0：正常。1：审核中。2：冻结',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.userId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.userId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>